{% extends 'authentication/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4">
            <div class="login-register-page">
                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Қош келдіңіз!</h3>
                    <span>
                        Есептік жазбаңыз жоқ па?
                        <a href="">Тіркелу</a>
                    </span>
                </div>
                <div class="">
                    <!-- Form -->
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="">
                            <span>Телефон номер жазыңыз</span>
                            {{ form.username }}
                        </div>

                        <div class="">
                            <span>Құпия сөз енгізіңіз</span>
                            {{ form.password }}
                        </div>
                        <a href="" class="forgot-password">Құпия сөзіңізді ұмыттыңыз ба?</a>
                        <input type="hidden" name="ref" value="{REF}">
                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" name="submit" type="submit">Кіру</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top-70"></div>
    <!-- Footer -->
</div>
{% endblock %}  