{% extends 'authentication/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4">
            <div class="login-register-page">
                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Қош келдіңіз, сайтқа тіркеліңіз!</h3>
                    <span>Сізде аккаунт бар ма? <a href="{% url 'authentication:login' %}">Кіру</a></span>
                </div>
                <div class="">

                    
                    <!-- Form -->
                    <form method="post">
                         {% csrf_token %}
                        <div class="">
                            <span>Телефон номер жазыңыз</span>
                            {{ form.username }}
                        </div>
                        <div class="">
                            <span>Мамандығыңызды енгізіңіз</span>
                            {{ form.profession }}
                        </div>
                        <div class="">
                            <span>Құпия сөз ойлап табыңыз</span>
                            {{ form.password1 }} 
                        </div>
                        <div class="">
                            <span>Құпия сөз қайталаңыз</span>
                            {{ form.password2 }} 
                        </div>
                        <!-- <a href="" class="forgot-password">Құпия сөзіңізді ұмыттыңыз ба?</a> -->
                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" name="submit" type="submit">Тіркелу</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top-70"></div>
    <!-- Footer -->
</div>
{% endblock %}  
